{% extends "base.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TodoList</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a @click="createTask" class="nav-link" style="cursor: pointer">Add</a>
        </li>

        <li v-if="guest" class="nav-item">
          <a @click="userLogin" class="nav-link" style="cursor: pointer">Login</a>
        </li>
        <li v-else class="nav-item">
          <a @click="logout" class="nav-link" style="cursor: pointer">Logout(admin)</a>
        </li>
      </ul>
    </div>
  </nav>

  <add-task></add-task>
  <login></login>
  <update-task :task-id='taskId' :data-list="dataList"></update-task>

</div>

<div class="row justify-content-center mt-5">
  <div id="regSuccess" style="display: none;" class="alert alert-success" role="alert">
      This is a success alert—check it out!
  </div>
</div>

<br>

<div class="row">

  <table class="table">
    <thead>
      <tr>
        <th scope="col"><a @click="sortTask(paramId, typeId)" style="cursor: pointer">#</a></th>                    
        <th scope="col">
          <a @click="sortTask(paramName, typeName)" style="cursor: pointer">
            Name 
            <i v-if="paramCurrent == 'name' && sortCurrent == 'ASC'">&#8595;</i>
            <i v-if="paramCurrent == 'name' && sortCurrent == 'DESC'">&#8593;</i>
          </a>
        </th>
        <th scope="col">
          <a @click="sortTask(paramEmail, typeEmail)" style="cursor: pointer">
            Email
            <i v-if="paramCurrent == 'email' && sortCurrent == 'ASC'">&#8595;</i>
            <i v-if="paramCurrent == 'email' && sortCurrent == 'DESC'">&#8593;</i>
          </a>
        </th>
        <th scope="col">Task</th>
        <th scope="col">
          <a @click="sortTask(paramStatus, typeStatus)" style="cursor: pointer">
            Status
            <i v-if="paramCurrent == 'status' && sortCurrent == 'ASC'">&#8595;</i>
            <i v-if="paramCurrent == 'status' && sortCurrent == 'DESC'">&#8593;</i>
          </a>
        </th>
        <th v-if="!guest" scope="col">Actions</th>                      
      </tr>
    </thead>

    <tbody>
      {% for record in records %}
      <tr>
    
        <th scope="row">{{ record.id }}</th>
        <td>{{ record.name }}</td>
        <td>{{ record.email }}</td>
        <td>{{ record.task }}</td>
        <td>{{ record.status }} <i v-if="{{ record.updated_by }} == 1">&#169;</i></td>
        <td v-if="!guest">
          <a @click="updateTask({{ record.id }})"  style="cursor: pointer"><img src="/assets/img/pencil.png"/></a>
          <a @click="deleteTask({{ record.id }})" style="cursor: pointer"><img src="/assets/img/trash.png"/></a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% for mypage in range(1, number_of_pages, 1) %}
      <li class="page-item">
        <a class="page-link" href="index.php?">{{ mypage }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
    

</div>

{# forms.vueval('taskId') #}

{% endblock %}